.contenedor1 {
    display: flex;
    align-items: center;
}
.contenido1 {
    margin: 0 auto; /* requerido para alineación horizontal */
    border:#090a0a
}

.content-salas{
    display: flex;
    flex-direction: row;
}

.sala{
    width: 100px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    background-color: #f4f8f8;
    cursor: pointer;
}

#avatar{
    width: 100px;
    height: 100px;
}

body {
    background-color: #9fc5f8;
}
